.sidebar {
	display: grid;
	align-content: start;
	gap: 20px;
	padding: 20px;
}

.logo {
	width: 150px; /* Увеличим логотип для лучшего визуального восприятия */
	height: auto;
	margin-bottom: 20px; /* Добавим отступ между логотипом и поиском */
	justify-self: center; /* Центрируем логотип в боковой панели */
}

.search {
	margin-bottom: 20px; /* Можно добавить дополнительное пространство между поиском и меню */
}
